{% extends 'base.html' %}

{% block title %} ыафыацуа {% endblock %}

{% block main %}
    <form method="POST">
        <h1>Вход в админ-панель</h1>
        <input type="number" name="password" placeholder="Введите пароль">
        <button type="submit" value="admin" name="sumbit">Отправить</button>
        <p>Пароль: 1234</p>
        <p> {{ result }}</p>
        <br>
        <h1>Вход в панель владельца</h1>
        <input type="number" name="pass" placeholder="Введите пароль">
        <button type="submit" value="developer" name="sumbit">Отправить</button>
        <p>{{ result_develop }}</p>
    </form>
{% endblock %}
